ingress:
  name: aks-workshop-ingress
  namespace: aks-workshop-dev
  annotations:
    ingressClass: nginx
    proxyBodySize: "10m"
    enableCors: "true"
    rewrite-target: /ratingsapi/v1/$1
  hosts:
  - name: dev.internal.wkshpdev.com
    paths:
    - path: /ratingsapi/v1/?(.*)
      service: aks-workshop-apim-gateway
      port: 80